li.current-menu-parent a:hover span{ color:#fff !important; }
li.current-menu-parent ul.sub-menu{ background-color:none;}
.logo a p{color:#004882 !important; }
/* Loading */
.loading i:first-child:before {
    background:#004882 !important;
}

.loading i:first-child:after {
    background:#004882 !important;
}
.loading i:last-child:before {
    background:#004882 !important;
}

.loading i:last-child:after {
    background:#004882 !important;
}

/* Navigation */
.navigation > li:hover > a,.navigation > li > a:hover,
.navigation > li > .activelink,.navigation > li:hover > a > i, .navigation > li > a:hover > span.label-nav-sub::before, .navigation > li > a:focus > span.label-nav-sub::before{
    color: #004882 !important;
}
.mobile-menu-button, .mobile-nav, .slider-fixed-container{   
    background-color: #004882 !important;    
}
.navigation>li:hover > a > span.label-nav-sub::before,.navigation>li:hover> a > span.label-nav-sub::before{
    color: #004882 !important;
}

.navigation>li>a.activelink:before{
    border-color: transparent transparent #004882 !important transparent;
}

.navigation>li:hover >a:after{
    background-color: #004882 !important;
    bottom: 0;
}
.top-title-wrapper, #header{
    border-color: #004882 !important;
}
.sticky-header .navigation > li:hover > a span {
    color: #004882 !important;
}

#header:after{
   border-bottom: #004882 !important;
}

/* Page Content Colors */
.body-wrapper a:hover,
.top-body a:hover,
.bottom-body a:hover,
.content-box.content-style2 h4 i,
.side-navigation .menu-item.current-menu-item a,
.side-navigation .menu-item:hover a:after,
.side-navigation .menu-item:hover a,
a.tool-tip,
.team-member .team-member-position,
.team-member-progress .team-member-position,
.item-img-overlay i,
ul.icon-content-list-container li.icon-content-single .icon-box i,
.item-img-overlay .portfolio-zoom:hover,
.navigation ul li:hover>a,
.blog-post-quote:after,
.item-img-overlay .portfolio-zoom,
body .tabs-vertical  .tab a,
.section-tabs .tab a.active,
.blog-post-icon i,
.blog-post .blog-post-details-item i,
.blog-post h2 a,
.blog-post .blog-read-more a,
.body-wrapper .tags a,
.feature-arrows .feature-arrow,
body .tab a,
.section-etabs a:hover,
.accordion .title h4,
body .white-text .feature-details a:hover,
.blog-post .blog-span h2,
a.list-group-item.active,
.content-box h4 i{
  color: #004882 !important;
}
.section-services .content-box h4 i { color:#fff !important; }

::selection
{
    background-color:#004882 !important;
}
::-moz-selection
{
    background-color:#004882 !important;
}

.callout-box{
    border-left-color: #004882 !important}
.feature .feature-content,.team-member .team-member-content{
    border-top-color: #004882 !important;
}
 
.team-member-progress-bar,.section-parallax{
    background-color: #004882 !important;
}
.blog-masonry .blog-post-quote {
    border-top: 2px solid #004882 !important;
}

.item-img-overlay{
    background-color: rgba(157,99,76,0.8);
}
.item-img-overlay i:hover{
    background-color: rgba(157,99,76,0.8);
}
body .section-content.section-image{
    background-color: #004882 !important;
    background-color: rgba(157,99,76,0.8);
}
.team-member .team-member-image{
        box-shadow: inset 0 0 0 0 rgba(157,99,76,0.8),
                    inset 0 0 0 0px rgba(255,255,255,0.6),
                    0 1px 2px rgba(0,0,0,0.1);
}
.team-member-image:hover{
    box-shadow: inset 0 0 0 110px rgba(157,99,76,0.8),
                inset 0 0 0 5px rgba(255,255,255,0.8),
                0 1px 2px rgba(0,0,0,0.1);     
}
.section-parallax.secion-color-bg:before{
    background-color: #004882 !important;
    background-color: rgba(157,99,76,0.8);
}
body a.button, input[type="submit"],
input[type="button"],
body button.button,
body .button,
.btn.btn-primary,
.section-content.section-color-bg,
.section-content.section-services,
.content-box.content-style4 h4 i
,button.button-main,
.body-wrapper .tags a:hover,
.callout-box.callout-box2,
.blog-search .blog-search-button,
.top-title-wrapper, .testimonial-big,
.process-step,
.content-style3:hover .content-style3-icon,
.content-box.style5 h4 i,
table.table thead tr,
.price-table .price-label-badge,
.price-table .price-table-header,
.section-subscribe
.subscribe-button.icon-envelope-alt,
.single-process:after,
.tab.active,
.accordion .active,
.blog-post-quote,
.feature-arrows .feature-arrow:hover,
.dark-accordion.accordion .title.active,
.progress .progress-bar,.tagcloud a:hover,
.content-box.content-style4 h4 i{
    background-color: #004882 !important;
}

.comments-list .children .comment:before,.portfolio-filter li a.portfolio-selected,
.portfolio-filter li a:hover, .dropcaps.dropcaps-color-style, .carousel-container .carousel-icon:hover
,.button.alter:hover, .button.alter:active, button.button.alter:hover, button.button.alter:active{
    background-color: #004882 !important;
}
.comments-list .children .comment:after{
    border-color: transparent transparent transparent #004882 !important;;
}

.highlighted-text{
    background-color: #004882 !important;
    color: #ffffff;
}
.icons-list.colored-list li:before, .blog-post-date .day, 
.blog-post-date .month, strong.colored, span.colored 
,.content-style3 .content-style3-icon, .process-details h4,
.feature .feature-content a, .feature .feature-details i, 
body .tp-caption.main_color_text, .accordion .title,
.button.alter, button.button.alter{
    color: #004882 !important;
}
.button.alter, button.button.alter, body a.button, input[type="submit"], input[type="button"], body button.button,body .button{
    border-color: #004882 !important;
}

.button.button-white{
    color: #004882 !important !important;
}
.pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .price-table .price-label{
    color: #004882 !important;
}


/* Footer Area Colors */

.footer .copyright,.tagcloud a,
.body-wrapper .tags a{
    border-color: #004882 !important;
}

.footer .footer-col .footer-title, .footer .copyright a:hover{
    color: #004882 !important;
}

.flickr_badge_wrapper .flickr_badge_image img:hover,
.feature-arrows .feature-arrow:hover{
    border-color: #004882 !important;
}
#wp-calendar caption {
background-color: #004882 !important;
color: #ffffff;
}
.tagcloud a:hover{color: #fff;}
.footer .footer-col  table td a{color: #004882 !important;}

/** current-menu-item ***/

/** current-menu-item ***/
ul.navigation li.current-menu-item a{ 
	background-color: #004882 !important;
	color: #fff;
}
li.current-menu-parent a{ background-color: #004882 !important;
	color: #fff; }
.wl_title_head{
color:#004882 !important;
}
#custom_service h4 i { 
    color: #004882 !important;
    font-size: 72px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: -13px;
}


  /* Page Content Colors */
    .body-wrapper a:hover , .tab a:hover, accordion .title:hover, .top-body a:hover, .bottom-body
    a:hover,.content-box.content-style2 h4 i
    ,.accordion .active h4, .accordion .title:hover h4, .side-navigation .menu-item.current-menu-item a,
    .side-navigation .menu-item:hover a:after,
    .side-navigation .menu-item:hover a, a.tool-tip, .team-member .team-member-position, .team-member-progress
    .team-member-position, .item-img-overlay i
    ,ul.icon-content-list-container li.icon-content-single .icon-box i,.item-img-overlay .portfolio-zoom:hover,
    .navigation ul li:hover>a, .blog_post_quote:after,
    .item-img-overlay .portfolio-zoom, body .white-text .feature-details a:hover{
    color:  {{skin_color}};
    }
    ::selection
    {
    background-color: {{skin_color}};
    }
    ::-moz-selection
    {
    background-color: {{skin_color}};
    }
    .item-img-overlay .portfolio-zoom:hover, .tab a.active {
    color:  {{skin_color}} !important;
    }
    .callout-box{
    border-left-color:  {{skin_color}}
    }
    .feature .feature-content,.team-member .team-member-content{
    border-top-color:  {{skin_color}};
    }

    .team-member-progress-bar{
    background-color:  {{skin_color}};
    }
    .blog-masonry .blog_post_quote{
    border-top: 2px solid  {{skin_color}};
    }
    .tab a.active:after {
    background-color: {{skin_color}};
    border-color:  {{skin_color}};
    }
    .item-img-overlay{
    background-color:  {{skin_color_rgba}};
    }
    .item-img-overlay i:hover{
    background-color:  {{skin_color_rgba}};
    }
    body .section-content.section-image{
    background-color:  {{skin_color_rgba}};
    }



    .button, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], .section-content.section-color-bg,.content-box.content-style4 h4 i
    ,button.button-main,.body-wrapper .tags a:hover,.callout-box.callout-box2, .blog-search .blog-search-button, .top-title-wrapper, .testimonial-big
    ,.content-style3:hover .content-style3-icon, .content-box.style5 h4 i, table.table thead tr, .price-table .price-label-badge, .price-table .price-table-header, .section-subscribe .subscribe-button.icon-envelope-alt{
    background-color: {{skin_color}};
    }


    .blog-post-icon,.comments-list .children .comment:before,.portfolio-filter li a.portfolio-selected,
    .portfolio-filter li a:hover, .dropcaps.dropcaps-color-style, .carousel-container .carousel-icon:hover{
    background-color:  {{skin_color}};
    }
    .comments-list .children .comment:after{
    border-color: transparent transparent transparent  {{skin_color}};;
    }

    .highlighted-text{
    background-color:  {{skin_color}};
    color: #ffffff;
    }
    .icons-list.colored-list li:before, .blog-post-date .day, .blog-post-date .month, strong.colored, span.colored
    ,.content-style3 .content-style3-icon{
    color:  {{skin_color}};
    }


    .pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .price-table .price-label{
    color: {{skin_color}};
    }


    /* Footer Area Colors */

    .footer .copyright{
    border-color:  {{skin_color}};
    }

    .footer .copyright a:hover{
    color:  {{skin_color}};
    }
    .flickr_badge_wrapper .flickr_badge_image img:hover{
    border-color:  {{skin_color}};
    }